<!-- <div class='row nav'>
    <a href='/'><h1 id='home' class="four columns">Home</h1></a>
    <span class="two columns">&nbsp;</span>
    <a href="/contacts"></a>
</div> -->

<!--  -->

<div class="row nav">
  <a href="/products"><h1 id="home">The HandyMan</h1></a>
  <span class="four columns">&nbsp;</span>

  <a href="/contacts"
    ><button type="button" name="button" class="new-contact three columns">
      Contact Me
    </button></a
  >
  <span class="one column">&nbsp;</span>
</div>
