<!-- <div class='row nav'>
    <a href='/'><h1 id='home' class="four columns">Home</h1></a>
    <span class="two columns">&nbsp;</span>
    <a href="/contacts"></a>
</div> -->

<!--  -->

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <a href="/"><h1 id="home">The HandyMan</h1></a>
  <span class="four columns">&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <a href="/contacts"
    ><button type="button" name="button" class="new-contact three columns">
      Contact Me
    </button></a
  >
  <a href="/reviews"
    ><button type="button" name="button" class="new-review three columns">
      Leave a review
    </button></a
  >
  <a href="/contacts/show"
    ><button type="button" name="button" class="see-contacts three columns">
      Contacts
    </button></a
  >

  <span class="three columns">&nbsp;</span>
</div>
