<!--  -->

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <a class="home" href="/"><h1 id="home">The HandyMan</h1></a>
  <span class="four columns">&nbsp;&nbsp;&nbsp;&nbsp;</span>

  <a href="/"
    ><button type="button" name="button" class="new-home three columns">
      Home
    </button></a
  >

  <a href="/contacts"
    ><button type="button" name="button" class="new-contact three columns">
      Contact Me
    </button></a
  >
  <a href="/reviews"
    ><button type="button" name="button" class="new-review three columns">
      Leave a review
    </button></a
  >

  <span class="three columns">&nbsp;</span>
</div>
