<!--  -->

<div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  <a class="home" href="/"><h1 id="home">PVD Property Rehab</h1></a>
  <span class="four columns">&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <br />
  <a href="/"
    ><button type="button" name="button" class="btn btn-success">
      Home
    </button></a
  >

  <a href="/contacts"
    ><button type="button" name="button" class="btn btn-success">
      Contact Me
    </button></a
  >
  <a href="/reviews"
    ><button type="button" name="button" class="btn btn-success">
      Leave a review
    </button></a
  >

  <span class="three columns">&nbsp;</span>
</div>
