<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <% include ./partials/head.ejs %>
    <!--  -->
    <%include ./partials/img.ejs%>
    <!--  -->
    <% include ./partials/nav.ejs %>
    <!--  -->
    <!--  -->
    <h4 class="hiddenWelcome" style="text-align:center;">
      <%if (currentUser) {%> Welcome <%=currentUser.name.toUpperCase()%>!
      <%}else{%><%}%>
    </h4>
    <!--  -->
    <!--  -->
    <!--  -->
    <div class="reviewCards">
      <h3>Reviews</h3>
      <%for (let i = 0; i < Reviews.length; i++){%>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=Reviews[i].jobtype%></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%=Reviews[i].name%></h6>
          <p class="card-text"><%=Reviews[i].comment%></p>
        </div>
      </div>
      <%}%>
    </div>
    <!--  -->
    <div class="lawnArticle">
      <image
        class="lawnImage"
        src="https://www.lovethegarden.com/sites/default/files/styles/og_image/public/content/articles/UK_advice-lawn-care-tools-essential-tools-lawn-maintenance_main.jpg?itok=raEDePA3"
      ></image>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
        consectetur atque rerum ullam, vero debitis, provident dolorem, quo
        voluptatum veniam cum praesentium placeat necessitatibus enim
        voluptatibus rem unde dolores distinctio.
      </p>
    </div>
    <!--  -->
    <br />

    <br />

    <!--  -->
    <%if (currentUser) {%>
    <div class="secret">
      <a href="/users/new">Create New User</a>
      <a href="/contacts/show"
        ><button type="button" name="button" class="see-contacts three columns">
          Contacts
        </button></a
      >
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout" />
      </form>
      <%} else{%> <%}%>
    </div>
    <a href="/sessions/new"
      ><img class="signIn" src="/Images/lock/lock.png"
    /></a>
    <% include ./partials/foot.ejs%>
  </body>
</html>
