<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <% include ./partials/head.ejs %>
    <!--  -->
    <%include ./partials/img.ejs%>
    <!--  -->
    <% include ./partials/nav.ejs %>
    <br />
    <br />

    <br />
    <% include ./partials/foot.ejs%>
    <h1>
      <%if (currentUser) {%> Welcome <%=currentUser.name.toUpperCase()%>!
      <%}else{%><%}%>
    </h1>
    <!--  -->
    <%if (currentUser) {%>
    <a href="/users/new">Create New User</a>
    <a href="/contacts/show"
      ><button type="button" name="button" class="see-contacts three columns">
        Contacts
      </button></a
    >
    <form action="/sessions?_method=DELETE" method="POST">
      <input type="submit" value="Logout" />
    </form>
    <%} else{%>
    <a href="/sessions/new">Log In</a>
    <%}%>
  </body>
</html>
