<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>PVD Rehab</title>
  </head>
  <body>
    <% include ./partials/head.ejs %>
    <!--  -->
    <%include ./partials/img.ejs%>
    <!--  -->
    <% include ./partials/nav.ejs %>
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->
    <!--  -->

    <div class="allCards">
      <h3 style="text-align:center;">Reviews</h3>
      <%for (let i = 0; i < Reviews.length; i++){%>
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%=Reviews[i].jobtype%></h5>
          <h6 class="card-subtitle mb-2 text-muted"><%=Reviews[i].name%></h6>
          <p class="card-text"><%=Reviews[i].comment%></p>
        </div>
      </div>
      <%}%>
    </div>
    <!--  -->

    <!--  -->
    <div class="lawnArticle">
      <h3>Property Services</h3>
      <image
        class="lawnImage"
        src="https://www.lovethegarden.com/sites/default/files/styles/og_image/public/content/articles/UK_advice-lawn-care-tools-essential-tools-lawn-maintenance_main.jpg?itok=raEDePA3"
      ></image>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
        consectetur atque rerum ullam, vero debitis, provident dolorem, quo
        voluptatum veniam cum praesentium placeat necessitatibus enim
        voluptatibus rem unde dolores distinctio. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Dolore consectetur atque rerum ullam, vero
        debitis, provident dolorem, quo voluptatum veniam cum praesentium
        placeat necessitatibus enim voluptatibus rem unde dolores distinctio.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolore
        consectetur atque rerum ullam, vero debitis, provident dolorem, quo
        voluptatum veniam cum praesentium placeat necessitatibus enim
        voluptatibus rem unde dolores distinctio.
      </p>
    </div>
    <!--  -->
    <div class="jumbotron">
      <h1 class="display-4">Seasonal Services</h1>
      <p class="lead">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Adipisci at
        aperiam earum, quia aliquam delectus magni inventore id voluptates
        incidunt temporibus cumque asperiores repellendus quas reprehenderit
        facere aspernatur maiores quod!
      </p>
      <hr class="my-4" />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates odit
        dolore maxime minima. Iste libero hic architecto eos odio reiciendis
        culpa assumenda dolores officia eius, omnis repellendus quos praesentium
        dolore.
      </p>
      <p class="lead">
        <a href="/contacts"
          ><button type="button" name="button" class="btn btn-success">
            Schedule Today!
          </button></a
        >
      </p>
    </div>
    <!--  -->
    <%if (currentUser) {%>
    <div class="secret">
        <img src="/Images/Ben/ben.jpg" style='height:100px; width: 100px; border-radius: 50px;'></img>
      <a href="/users/new">Create New User</a>&nbsp;&nbsp;
      <a href="/contacts/show"
        ><button type="button" name="button" class="see-contacts three columns">
          Contacts
        </button></a
      >
      &nbsp; &nbsp;
      <form action="/sessions?_method=DELETE" method="POST">
        <input type="submit" value="Logout" />
      </form>
      <%} else{%> <%}%>
    </div>
    <a href="/sessions/new"
      ><img class="signIn" src="/Images/lock/lock.png"
    /></a>
    <% include ./partials/foot.ejs%>
  </body>
</html>
