* {
  font-family: "Vidaloka", serif;
}
/* All files */
.body {
  height: 100vh;
  width: 100vw;
  font-family: "Vidaloka", serif !important;
}
/* Nav */
.col-md-12 {
  text-align: center;
  position: absolute;
  top: 5px;
}
.home {
  color: green;
  text-decoration: none !important;
  text-align: center;
}
/* Logo */
.logo {
  height: 20vh;
  width: 15vw;
  display: flex;
  margin-right: 0px;
}

/* Footer */
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  height: 2.5rem;
}

/* secret access */
.secret {
  display: flex;
  border: 2px solid black;
  height: 10vh;
  width: 20vw;
  position: absolute;
  margin-left: 79vw;
  top: 5px;
}
.hiddenWelcome {
  position: absolute;
  top: 11vh;
  left: 45vw;
}
/* sign in */
.signIn {
  height: 70px;
  width: 70px;
  position: relative;
  bottom: 0px;
}
/* lawn Article */
.lawnArticle {
  height: 60vh;
  width: 50vw;
}

.lawnImage {
  height: 30vh;
  width: 50vw;
  border-radius: 7px;
}
/* all Reviews */
.reviewCards {
  margin-bottom: 1vh;
  height: 20vh;
  width: 40vw;
  border: 2px black solid;
  overflow-y: scroll;
}
.card {
  margin-bottom: 1vh;
  margin-left: 8vw;
  height: 10vh;
  width: 30vw !important;
  overflow-y: scroll;
}
