<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title></title>
  </head>
  <body>
    <% include ../partials/head.ejs %>
    <!--  -->
    <%include ../partials/img.ejs%>
    <!--  -->
    <%include ../partials/nav.ejs%>
    <h1>Tell me what you need done...</h1>
    <form action="/contacts" method="POST">
      <h4>Name: <input type="text" name="name" placeholder="Name" /></h4>
      <br />
      <h4>
        Phone:
        <input type="number" name="phone" placeholder="Phone Number" />
      </h4>
      <br />
      <h4>E-mail: <input type="text" name="email" placeholder="E-mail" /></h4>
      <br />
      <br />
      <textarea
        required
        name="message"
        placeholder="Type message here"
      ></textarea>
      <input type="submit" value="Submit" />
    </form>
    <%include ../partials/foot.ejs%>
  </body>
</html>
