<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <%include ../partials/head.ejs%>
    <title>D</title>
  </head>
  <body>
    <h1>Contacts</h1>
    <%for (let i = 0; i < Contact.length; i++){%>
    <div class="contactAll">
      <h4><%=Contact[i].name%></h4>
    </div>
    <%}%>
  </body>
</html>
